<a href="https://colab.research.google.com/github/leosalves1/IEEE-CIS-Treinamento/blob/main/1%C2%BA_Per%C3%ADodo_CIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np

1) id: unique identifier

2) gender: "Male", "Female" or "Other"

3) age: age of the patient

4) hypertension: 0 if the patient doesn't have hypertension, 1 if the patient has hypertension

5) heart_disease: 0 if the patient doesn't have any heart diseases, 1 if the patient has a heart disease

6) ever_married: "No" or "Yes"

7) work_type: "children", "Govt_jov", "Never_worked", "Private" or "Self-employed"

8) Residence_type: "Rural" or "Urban"

9) avg_glucose_level: average glucose level in blood

10) bmi: body mass index

11) smoking_status: "formerly smoked", "never smoked", "smokes" or "Unknown"*

12) stroke: 1 if the patient had a stroke or 0 if not

*Note: "Unknown" in smoking_status means that the information is unavailable for this patient

In [13]:
df = pd.read_csv('/content/drive/MyDrive/Datasets_CIS/healthcare-dataset-stroke-data.csv')
df

         id  gender   age  ...   bmi   smoking_status stroke
0      9046    Male  67.0  ...  36.6  formerly smoked      1
1     51676  Female  61.0  ...   NaN     never smoked      1
2     31112    Male  80.0  ...  32.5     never smoked      1
3     60182  Female  49.0  ...  34.4           smokes      1
4      1665  Female  79.0  ...  24.0     never smoked      1
...     ...     ...   ...  ...   ...              ...    ...
5105  18234  Female  80.0  ...   NaN     never smoked      0
5106  44873  Female  81.0  ...  40.0     never smoked      0
5107  19723  Female  35.0  ...  30.6     never smoked      0
5108  37544    Male  51.0  ...  25.6  formerly smoked      0
5109  44679  Female  44.0  ...  26.2          Unknown      0

[5110 rows x 12 columns]

Acredito que homens tenham mais ataques cardíacos que mulheres. Usando os dados do dataset acima, tentarei refutar minha hipótese baseado na proporcionalidade de ataques cardíacos dentro de cada gênero.

Separando por gênero:

In [5]:
df_male = df[df.gender == "Male"]
df_male

         id gender   age  ...   bmi   smoking_status stroke
0      9046   Male  67.0  ...  36.6  formerly smoked      1
2     31112   Male  80.0  ...  32.5     never smoked      1
5     56669   Male  81.0  ...  29.0  formerly smoked      1
6     53882   Male  74.0  ...  27.4     never smoked      1
13     8213   Male  78.0  ...   NaN          Unknown      1
...     ...    ...   ...  ...   ...              ...    ...
5097  64520   Male  68.0  ...  40.8          Unknown      0
5098    579   Male   9.0  ...  17.5          Unknown      0
5099   7293   Male  40.0  ...   NaN           smokes      0
5100  68398   Male  82.0  ...  28.3     never smoked      0
5108  37544   Male  51.0  ...  25.6  formerly smoked      0

[2115 rows x 12 columns]

In [6]:
df_female = df[df.gender == "Female"]
df_female

         id  gender   age  ...   bmi  smoking_status stroke
1     51676  Female  61.0  ...   NaN    never smoked      1
3     60182  Female  49.0  ...  34.4          smokes      1
4      1665  Female  79.0  ...  24.0    never smoked      1
7     10434  Female  69.0  ...  22.8    never smoked      1
8     27419  Female  59.0  ...   NaN         Unknown      1
...     ...     ...   ...  ...   ...             ...    ...
5104  14180  Female  13.0  ...  18.6         Unknown      0
5105  18234  Female  80.0  ...   NaN    never smoked      0
5106  44873  Female  81.0  ...  40.0    never smoked      0
5107  19723  Female  35.0  ...  30.6    never smoked      0
5109  44679  Female  44.0  ...  26.2         Unknown      0

[2994 rows x 12 columns]

Agora fazendo a comparação de ataques cardíacos:

In [11]:
male_stroked = df_male[df_male.stroke == 1]
male_ratio = len(male_stroked) / len(df_male)

female_stroked = df_female[df_female.stroke == 1]
female_ratio = len(female_stroked) / len(df_female)

female_ratio > male_ratio

False

Então, temos a seguinte conclusão:
>As pessoas do sexo masculino proporcionalmente tem mais ataques cardíacos que as pessoas do sexo feminino.

A próxima análise relevante é sobre a idade das pessoas.

In [14]:
df.age.mean()

43.226614481409015

Sabemos que a idade média dos pacientes analisados é por volta dos 43 anos completos. As perguntas que eu tenho são:
> Qual a média da idade dos paciente que já tiveram ataque cardíaco?

> Essa média se mantém entre os gêneros?

In [18]:
df.age[df.stroke == 1].describe()

count    249.000000
mean      67.728193
std       12.727419
min        1.320000
25%       59.000000
50%       71.000000
75%       78.000000
max       82.000000
Name: age, dtype: float64

Como os dados dos extremos tem uma disparidade muito grande, é interessante levar em conta a mediana também. Respondendo à primeira pergunta, temos então uma média de 67 anos e uma mediana de 71 anos, o que nos mostra que há uma maior incidência de ataques cardíacos em idosos.

In [20]:
df_male.age[df.stroke == 1].describe()

count    108.000000
mean      68.500000
std       10.456407
min       42.000000
25%       59.000000
50%       70.500000
75%       78.000000
max       82.000000
Name: age, dtype: float64

In [21]:
df_female.age[df.stroke == 1].describe()

count    141.000000
mean      67.137021
std       14.232813
min        1.320000
25%       57.000000
50%       72.000000
75%       78.000000
max       82.000000
Name: age, dtype: float64

Respondendo à segunda pergunta, a média se mantém para ambos os sexos.

Já sabemos que hipertensão e doenças cardíacas tem um grande papel na possibilidade de ataques cardíacos, mas a dúvida é:
>Quanto essas condições patológicas influenciam?

In [24]:
df_stroked = df[df.stroke == 1]

In [25]:
only_hyp = df[(df.hypertension == 1) & (df.heart_disease == 0) & (df.stroke == 1)]        #caso 1
only_cardio = df[(df.hypertension == 0) & (df.heart_disease == 1) & (df.stroke == 1)]     #caso 2
both = df[(df.hypertension == 1) & (df.heart_disease == 1) & (df.stroke == 1)]            #caso 3
none = df[(df.hypertension == 0) & (df.heart_disease == 0) & (df.stroke == 1)]            #caso 4

In [27]:
ratio_1 = len(only_hyp) / len(df_stroked)
ratio_1

0.21285140562248997

In [29]:
ratio_2 = len(only_cardio) / len(df_stroked)
ratio_2

0.13654618473895583

In [30]:
ratio_3 = len(both) / len(df_stroked)
ratio_3

0.05220883534136546

In [31]:
ratio_4 = len(none) / len(df_stroked)
ratio_4

0.5983935742971888

E surpreendentemente, o resultado vai contra a minha ideia inicial de que as cardiopatias e a hipertensão poderiam ter um papel muito maior. 

Minha nova hipótese então é que essas cardiopatias tem uma incidência relativamente pequena na amostra de dados que temos.

In [40]:
only_hyp_all = df[(df.hypertension == 1) & (df.heart_disease == 0)]
only_cardio_all = df[(df.hypertension == 0) & (df.heart_disease == 1)]
both_all = df[(df.hypertension == 1) & (df.heart_disease == 1)]
none_all = df[(df.hypertension == 0) & (df.heart_disease == 0)]

In [42]:
all_ratio_1 = len(only_hyp_all) / len(df)
all_ratio_1

0.08493150684931507

In [43]:
all_ratio_2 = len(only_cardio_all) / len(df)
all_ratio_2

0.041487279843444226

In [44]:
all_ratio_3 = len(both_all) / len(df)
all_ratio_3

0.012524461839530333

In [45]:
all_ratio_4 = len(none_all) / len(df)
all_ratio_4

0.8610567514677103

A segunda hipótese então se confirma. Realmente há uma pequena incidência de cardiopatias, o que faz sentido levando em conta os resultados anteriores.

### Considerações Finais
  Minha escolha de dataset foi na direção errada. Acabei escolhendo dataset voltado para previsões, assunto que não domino e não percebi que seria uma escolha ruim. Esse foi um dos motivos (não o único) que não consegui nem pensar nem montar um gráfico decente.